[workspace]

members = [
    "libmagic",
    "cache",
    "merklehash",
    "merkledb",
    "mdb_shard",
    "pointer_file",
    "retry_strategy",
    "gitxetcore",
    "gitxet",
    "data_analysis",
    "parutils",
    "prometheus_dict_encoder",
    "s3",
    "shard_client",
    "progress_reporting",
    "cas_client",
    "xet_config",
    "xetblob"
]
